#include "..\Headers\BFW_Resources.hpp"



#include "..\Headers\BFW_WinTargetVer.hpp"
#include <Windows.h>



BFW_IDI_MAIN_ICON ICON L"..\\..\\Solution Items\\Resources\\Icons\\BFW_Icon.ico"



BFW_IDM_MAIN_MANIFEST RT_MANIFEST L".\\Manifests\\BFW_MainManifest.manifest"



#include "BFW_EnglishUS.rc2"
